<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some web site</title>
</head>
<body>
  {{> header }}
  <p>We will be right back. </p>
  <p>The site is currently being updated</p>
  {{> footer }}
</body>
</html>