<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ngEvents</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/events']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">All Events <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['events/new']" routerLinkActive="active">Create Event</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/events/1']" routerLinkActive="active">event1</a>
            <a class="dropdown-item" [routerLink]="['/events/2']" routerLinkActive="active">event2</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" id="searchForm" (ngSubmit)="searchSessions(searchTerm)">
        <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control mr-sm-2" type="search" placeholder="Search Sessions" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" modal-trigger="searchResults">Search</button>
      </form>
    </div>
    <div class="navbar navbar-right">
      <ul class="navbar-nav">
        <li>
          <a *ngIf="!auth.isAuhtenticated()" class="nav-link"
             [routerLink]="['user/login']" routerLinkActive="active">Login</a>
          <a *ngIf="auth.isAuhtenticated()" class="nav-link"
             [routerLink]="['user/profile']" routerLinkActive="active">Welcome, {{auth.currentUser.firstName}}</a>
        </li>
      </ul>
    </div>
  </nav>

<simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events', session.eventId]">{{session.name}}</a>
  </div>
</simple-modal>
