<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    
    <title>AngularJS + SVG</title>
</head>
<body ng-app="Dashboard">
    <div ng-controller="barGraphController">
        Bar height: <input type="text" ng-model="specs.height">
        <p></p>
        <bar-graph specs="specs"></bar-graph>
    </div>
<script>
var dashboard = angular.module('Dashboard', []);
dashboard.controller("barGraphController", function($scope){
    $scope.specs = {
        height: 30,
        padding: 5,
        fontStyle:'10pt arial',
        fontHeight:10,
        gradientInterval: 50,
        gradients:[],
        bars: [
            {color: "#F15B2A", width: 50, text: 'September'},
            {color: "#2A9FBC", width:60, text: 'October'},
            {color: "#A62E5C", width: 90, text: 'November'}
        ]
    };
});

dashboard.directive("barGraph", function(){
    return {
        scope: { specs: '=' },
        template: `
            <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250">
                <g ng-repeat="bar in specs.bars" >
                  <text x="0" 
                        y="{{((+(specs.height)+specs.padding)*$index) + (specs.height/2)+(specs.fontHeight/2)}}"
                        text-anchor="start"
                        style="font-family: arial; font-size: 10pt">{{bar.text}}</text>
                  <rect x="{{specs.labelWidth}}" 
                        y="{{(+(specs.height)+specs.padding)*$index}}" 
                        fill="{{bar.color}}" 
                        width="{{bar.width}}" 
                        height="{{specs.height}}"></rect>
                </g>
                <!-- x,y axis -->
                <line x1="{{specs.labelWidth}}" y1="0"
                      x2="{{specs.labelWidth}}" y2="{{specs.overallHeight.toString()}}"
                      style="stroke:black;stroke-width: 1px"></line>
                <line x1="{{specs.labelWidth}}" y1="{{specs.overallHeight}}"
                      x2="{{specs.labelWidth+specs.overallWidth}}" y2="{{specs.overallHeight}}"
                      style="stroke:black;stroke-width: 1px"></line>
                <text ng-repeat="gradient in specs.gradients"
                      x="{{specs.labelWidth+gradient.offset}}"
                      y="{{(+(specs.height)+specs.padding)*specs.bars.length+specs.fontHeight+3}}"
                      text-anchor="middle"
                      style="font-family: arial;font-size:10pt">{{gradient.text}}</text>
            </svg>`,
        link: function(scope, element, attr){
            var ctx = document.createElement('canvas').getContext('2d');
            var gradients = [];
            ctx.font = scope.specs.fontStyle;
            scope.specs.labelWidth = 0;
            scope.specs.overallWidth = 0;
            angular.forEach(scope.specs.bars,function(bar, index){
                scope.specs.labelWidth = Math.max(scope.specs.labelWidth, ctx.measureText(bar.text).width);
                scope.specs.overallWidth = Math.max(scope.specs.overallWidth, bar.width);
            });
            for(var i=0;;i+=scope.specs.gradientInterval){
                gradients.push({text:i, offset: i});
                if(i>scope.specs.overallWidth) break;
            }
            scope.specs.gradients = gradients;
            scope.specs.overallHeight = scope.specs.bars.length*(+(scope.specs.height)+scope.specs.padding);
        }
    }
});
</script>
</body>
</html>
