<div>

    <input type="text" id="firstname" #fn (keyup)="onFnKeyup(fn.value)">
    <input type="text" id="lastname" #ln (keyup)="onLnKeyup(ln.value)">
    <button (click)="generateName()">Generate</button>
    <span id="output">{{fullname}}</span>

</div>

<!--another way is using [(ngModel)], but not recommended-->
<!--<div>-->

<!--  <input type="text" id="firstname" [(ngModel)]="firstname" ">-->
<!--  <input type="text" id="lastname" [(ngModel)]="lastname" ">-->
<!--  <button (click)="generateName()">Generate</button>-->
<!--  <span id="output">{{fullname}}</span>-->

<!--</div>-->
