@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: "#f97316",
  --color-secondary: "#64748b",
  --color-primaryDark: "#e86f00",
  --color-lightOrange: "#f1dabf",
  --color-darkGray: "#1a1f25",
  --color-lightGray: "#272c35",
}

@layer utilities {
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }

  .img-shadow2 {
    filter: drop-shadow(10px 30px 15px #3030307a);
  }

  .input-style {
    @apply border-b border-[#272c35] focus:border-[#f97316] focus:outline-none;
  }
}

@layer components {
  .container {
    @apply p-4 sm:p-8 text-center
  }

}

/* @layer components {
  .input-style {
    @apply px-4 py-2 border border-gray-400 rounded-md;
  }

  .primary-btn {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-primaryDark duration-200;
  }
} */

