

body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    filter: blur(4px) contrast(8);
    background: #0C1526;
    display: flex;
    overflow: hidden;
}

.g-container {
    margin: auto;
    position: relative;
    width: 10vmin;
    height: 10vmin;
}
.g-ball,
.g-first{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 50%;
    animation: move 1s infinite linear;
    transform: translate(-700%, 0);
}
.g-first {
    animation: scaleMove 3.5s infinite linear;
}
.g-ball:nth-child(2) {
    animation: move 3.5s infinite 1.2s linear;
}
.g-ball:nth-child(3) {
    animation: move 3.5s infinite 1.4s linear;
}
.g-ball:nth-child(4) {
    animation: move 3.5s infinite 1.6s linear;
}
.g-ball:nth-child(5) {
    animation: move 3.5s infinite 1.8s linear;
}
.g-ball:nth-child(6) {
    animation: move 3.5s infinite 2s linear;
}
.g-ball:nth-child(7) {
    animation: move 3.5s infinite 2.2s linear;
}
@keyframes move {
    25% {
        opacity: 1;
        transform: translate(-1vw, 0);
    }
    50% {
        opacity: 1;
        transform: translate(1vw, 0);
    }
    75%,
    100% {
        opacity: 0;
        transform: translate(700%, 0);
    }
}
@keyframes scaleMove {
    25% {
        opacity: 1;
        transform: translate(-1vw, 0);
    }
    35% {
        opacity: 1;
        transform: scale(1);
    }
    70% {
        opacity: 1;
        transform: translate(1vw, 0) scale(2);
    }
    90%,
    100% {
        opacity: 0;
        transform: translate(1vw, 0) scale(1);
    }
}