<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Angular学习</title>
	<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
</head>
<body ng-controller="MainCtrl as mainctrl">
	<p>
		<textarea cols="30" rows="10" ng-model="mainctrl.txt"></textarea>
		<span ng-style='mainctrl.getColor()'>{{ mainctrl.txt.length }}/140字</span>
	</p>
	<p>
		<input type="button" value="发布" ng-disabled="mainctrl.txt.length > 140"/>
		<input type="button" value="清空" ng-click="mainctrl.reset()" ng-disabled="mainctrl.txt.length == 0"/>
	</p>

	<script type="text/javascript">
		var myapp = angular.module("myapp",[]);

		myapp.controller("MainCtrl",[function(){
			this.txt = "";

			//得到颜色
			var self = this;
			this.getColor = function(){
				return self.txt.length >= 140 ? {"color" : "red"} : {"color" : "#333"};
			}

			//清空内容，页面会自动清空了
			this.reset = function(){
				self.txt = "";
			}
		}]);
	</script>
</body>
</html>