<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
</head>
<body ng-controller="MainCtrl as mainctrl">
	<select ng-model="mainctrl.province" ng-options="k as k for (k,v) in mainctrl.data"></select>
	<select ng-model="mainctrl.city" ng-options="k as k for (k,v) in mainctrl.data[mainctrl.province].data"></select>
	<select ng-model="mainctrl.country" ng-options="k as k for (k,v) in mainctrl.data[mainctrl.province].data[mainctrl.city].data"></select>

	<h1>地址:{{mainctrl.province}}{{mainctrl.city}}{{mainctrl.country}}</h1>

	 
	<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
	<script type="text/javascript">
		var myapp = angular.module("myapp",[]);

		//依赖注入，依赖$http服务，是一个内置服务
		myapp.controller("MainCtrl",["$http",function($http){
			this.province = "";	//省
			this.city = ""; 	//市
			this.country = ""; 	//县

			var self = this;
			//Ajax语法，用到的是promise语法，是ES6中Promise对象能做的事情，后面有半天专门介绍ES6。
			$http.get("api/city.json").then(function(data){
				//将Ajax拉过来的数据，变为控制器自己的数据
				self.data = data.data;
			});
		}]);
	</script>
</body>
</html>