* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  background: #fdfafa;
}
.glass{
    width: 200px;
    height: 200px;
    box-shadow:inset 0 0 150px #07b1ee;
    margin: auto;
    position: relative;
    overflow: hidden;
    clip-path: polygon(
        0 0,
        100% 0,
        170px 100%,
        30px 100%
    );
}
.glass::before{
    content:"";
    width:200%;
    height:200%;
    background: #FFF;
    position: absolute;
    top:-150%;
    left:-50%;
    animation: animate 5s linear infinite;
    border-radius: 20% 40% 30% 60%;
}

@keyframes animate{
    100%{
        transform: rotate(360deg);
    }
}