body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}
p{
  margin: 0 100px;
}
.glowIn{
  color: #FFF;
}
.glowIn span{
  animation: fade 0.5s both;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  65%{
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0.7;
  }
}