@import "tailwindcss";

body {
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.box {
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 100%;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
