<form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm)">
    <div>
        <label>Title</label>
        <input type="text" placeholder="Enter the Hero's Name">
    </div>
    <div>
        <label>Real Name</label>
        <input type="text" placeholder="Enter the Hero's Real Name">
    </div>
    <div>
        <label>Occupation</label>
        <input type="text" placeholder="Enter the Hero's Real Name">
    </div>
    <div>
        <label>Location</label>
        <input type="text" placeholder="Enter the Hero's Real Name">
    </div>
    <div>
        <label>First Appearance</label>
        <input type="text" placeholder="Enter the Hero's Real Name">
    </div>
    <button>Submit</button>
</form>