/* You can add global styles to this file, and also import other style files */
.highlighted {
    box-shadow: 0 2px 16px 0 #de1e19, 0 3px 8px 0 rgba(226, 21, 19, 0.47), 0 6px 8px -1px #b41c18;
}

.warn {
    color:rgb(218, 233, 83);
  }

.salmon-theme {
    background: yellow;
}
