* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    /* display: flex; */
}
.box{
    margin: 50px 20px;
    width: 700px;
    height: 600px;
    background: #bdd5f4;
    display: flex;
     /* justify-content:space-between; */
}
.item{
    width: 70px;
    height: 70px;
    background: #f33b16;
}
.item:first-child{
    margin-right: auto;
}
.item:last-child{
    margin-left: auto;
}

