* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #66c7f4;
}
$ballsize: 10px;
$containerSize: 150px;  //size of container
$n: 36;                //number of ball
$pDeg: 360deg / $n;     // angle of rotation for each ball
$d: 2s;                 // time of animation

.loading {
    width: $containerSize;
    height: $containerSize;
    //border: 1px solid #fff;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    .dot {
        position: absolute;
        left: 50%;
        top: 0;
        width: $ballsize;
        height: $ballsize;
        margin-left: -$ballsize / 2;
        margin-top: -$ballsize / 2;
        transform-origin: center $containerSize / 2 + $ballsize / 2;   // seting up rotate center
        //background: #f40;
        perspective: 70px;
        transform-style: preserve-3d;
        @for $i from 1 through $n {
            &:nth-child(#{$i}) {
                transform: rotate($pDeg * ($i - 1));
                &::before, &::after {
                    animation-delay: -$d / $n * ($i - 1) * 6;
                }
            }
        }
        &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &::before {
            background: #000;
            top: -100%;
            animation: rotation-black $d infinite; 
            @keyframes rotation-black {
                0% { 
                    animation-timing-function: ease-in;
                }
                25% { 
                    transform: translate3d(0, 100%, $ballsize);
                    animation-timing-function: ease-out;
                }
                50% { 
                    transform: translate3d(0, 200%, 0);
                    animation-timing-function: ease-in;
                }
                75% {
                     transform: translate3d(0, 100%, -$ballsize);
                     animation-timing-function: ease-out;
                }
            }
        }
        &::after {
            background: #fff;
            top: 100%;
            animation: rotation-white $d infinite; 
            @keyframes rotation-white {
                0% { 
                    animation-timing-function: ease-in;
                }
                25% { 
                    transform: translate3d(0, 100%, $ballsize);
                    animation-timing-function: ease-out;
                }
                50% { 
                    transform: translate3d(0, 200%, 0);
                    animation-timing-function: ease-in;
                }
                75% {
                     transform: translate3d(0, 100%, -$ballsize);
                     animation-timing-function: ease-out;
                }
        }
    }
  }
}
