<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/images/ea.PNG" alt="brand">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">All Courses</a>
        </li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/course/new']">Create courses</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Course Category
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/course/1']">Selenium</a>
            <a [routerLink]="['/course/2']">Coded UI</a>
            <a [routerLink]="['/course/3']">Docker</a>
            <a [routerLink]="['/course/4']">Android Automation</a>
            <a href="">Protractor</a>
          </div>
        </li>
      </ul>
      <form id="searchForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Courses" aria-label="Search Courses">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <span class="navbar-text">
        <a>Welcome Karthik</a>
      </span>
    </div>
  </div>
</nav>
