@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

.bg-texture {
  background-image: url("/bg-texture.webp");
  background-size: 720px 460px;
  background-repeat: repeat;
  background-position: center;
}

.bg-brand-pink {
  background-color: #f4dff7;
}
.bg-brand-lime {
  background-color: #dddddd;
}
.bg-brand-blue {
  background-color: #5089e6;
}
.bg-brand-orange {
  background-color: #ddf073;
}
.bg-brand-navy {
  background-color: #0d5cdd;
}
.bg-brand-purple {
  background-color: #a839f3;
}
.bg-brand-pink {
  background-color: #f4dff7;
}
.bg-brand-lime {
  background-color: #d5d1d1;
}
.bg-brand-blue {
  background-color: #5089e6;
}
.bg-brand-orange {
  background-color: #ddf073;
}
.bg-brand-navy {
  background-color: #0d5cdd;
}

.button-cutout {
  position: relative;
  filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000)
    drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000)
    drop-shadow(8px 8px 0 #000);
  &:hover {
    filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000)
      drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000)
      drop-shadow(2px 2px 0 #000);
  }
  &::before {
    position: absolute;
    top: 0;
    right: calc(100% - 1px);
    content: "";
    background: inherit;
    width: 1rem;
    height: 100%;
    clip-path: polygon(
      23% 19%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      29% 79%,
      9% 80%,
      0 33%
    );
  }
  &::after {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    content: "";
    background: inherit;
    width: 1rem;
    height: 100%;
    clip-path: polygon(
      100% 0,
      74% 28%,
      100% 29%,
      100% 70%,
      84% 78%,
      100% 100%,
      0 100%,
      0 0
    );
  }
}

.stack-layout {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
}

.stack-layout > * {
  grid-area: stack;
}

.skater-scribble-path {
  opacity: 0.8;
  stroke-dasharray: 2300;
  stroke-dashoffset: -2300;
  transition: stroke-dashoffset 1s ease-in-out 0.2s;
  transform-origin: center center;
}

.skater:hover .skater-scribble-path {
  stroke-dashoffset: 0;
}

.slide-in-hidden {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
